/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
form{width:500px;}
label{
  display:block;
  font-size:14px;
  }
textarea{
  width:490px;
  height:60px;
  border:2px solid #ccc;
  padding:3px;
  color:#555;
  font:16px Arial, Helvetica, sans-serif;
  }
form div{position:relative;margin:1em 0;}
form .counter{
  position:absolute;
  right:0;
  top:0;
  font-size:20px;
  font-weight:bold;
  color:#ccc;
  }
form .warning{color:#600;}	
form .exceeded{color:#e00;}	
